@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&family=Teko:wght@300;400;600&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    font-family: "Roboto Mono", monospace;
}